doctype html

html
  head
    title Crypto Dashboard
  body
    script.
      const port = #{port}
    script(src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.14/p5.min.js")
    script(src="/scripts/main.js")

